/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-icon-adventure {
  background-image: url(../img/sprite.png);
  background-position: -26px -146px;
  width: 26px;
  height: 26px;
}
.icon-icon-adventure:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -146px;
  width: 26px;
  height: 26px;
}
.icon-icon-blogs {
  background-image: url(../img/sprite.png);
  background-position: -90px -30px;
  width: 30px;
  height: 30px;
}
.icon-icon-blogs:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -30px;
  width: 30px;
  height: 30px;
}
.icon-icon-education {
  background-image: url(../img/sprite.png);
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}
.icon-icon-education:hover {
  background-image: url(../img/sprite.png);
  background-position: -60px 0px;
  width: 30px;
  height: 30px;
}
.icon-icon-env {
  background-image: url(../img/sprite.png);
  background-position: 0px -120px;
  width: 26px;
  height: 26px;
}
.icon-icon-env:hover {
  background-image: url(../img/sprite.png);
  background-position: -26px -120px;
  width: 26px;
  height: 26px;
}
.icon-icon-event {
  background-image: url(../img/sprite.png);
  background-position: -60px -30px;
  width: 30px;
  height: 30px;
}
.icon-icon-event:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -60px;
  width: 30px;
  height: 30px;
}
.icon-icon-explorers {
  background-image: url(../img/sprite.png);
  background-position: -30px -60px;
  width: 30px;
  height: 30px;
}
.icon-icon-explorers:hover {
  background-image: url(../img/sprite.png);
  background-position: -60px -60px;
  width: 30px;
  height: 30px;
}
.icon-icon-games {
  background-image: url(../img/sprite.png);
  background-position: -90px 0px;
  width: 30px;
  height: 30px;
}
.icon-icon-games:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
}
.icon-icon-home {
  background-image: url(../img/sprite.png);
  background-position: -52px -120px;
  width: 26px;
  height: 26px;
}
.icon-icon-home:hover {
  background-image: url(../img/sprite.png);
  background-position: -78px -120px;
  width: 26px;
  height: 26px;
}
.icon-icon-kids {
  background-image: url(../img/sprite.png);
  background-position: -150px -26px;
  width: 26px;
  height: 26px;
}
.icon-icon-kids:hover {
  background-image: url(../img/sprite.png);
  background-position: -150px -52px;
  width: 26px;
  height: 26px;
}
.icon-icon-magazine {
  background-image: url(../img/sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 30px;
}
.icon-icon-magazine:hover {
  background-image: url(../img/sprite.png);
  background-position: -90px -60px;
  width: 30px;
  height: 30px;
}
.icon-icon-maps {
  background-image: url(../img/sprite.png);
  background-position: 0px -90px;
  width: 30px;
  height: 30px;
}
.icon-icon-maps:hover {
  background-image: url(../img/sprite.png);
  background-position: -30px -90px;
  width: 30px;
  height: 30px;
}
.icon-icon-news {
  background-image: url(../img/sprite.png);
  background-position: -60px -90px;
  width: 30px;
  height: 30px;
}
.icon-icon-news:hover {
  background-image: url(../img/sprite.png);
  background-position: -90px -90px;
  width: 30px;
  height: 30px;
}
.icon-icon-photo {
  background-image: url(../img/sprite.png);
  background-position: -104px -120px;
  width: 26px;
  height: 26px;
}
.icon-icon-photo:hover {
  background-image: url(../img/sprite.png);
  background-position: -150px 0px;
  width: 26px;
  height: 26px;
}
.icon-icon-science {
  background-image: url(../img/sprite.png);
  background-position: -120px 0px;
  width: 30px;
  height: 30px;
}
.icon-icon-science:hover {
  background-image: url(../img/sprite.png);
  background-position: -120px -30px;
  width: 30px;
  height: 30px;
}
.icon-icon-travel {
  background-image: url(../img/sprite.png);
  background-position: -150px -78px;
  width: 26px;
  height: 26px;
}
.icon-icon-travel:hover {
  background-image: url(../img/sprite.png);
  background-position: -150px -104px;
  width: 26px;
  height: 26px;
}
.icon-icon-trips {
  background-image: url(../img/sprite.png);
  background-position: -120px -60px;
  width: 30px;
  height: 30px;
}
.icon-icon-trips:hover {
  background-image: url(../img/sprite.png);
  background-position: -120px -90px;
  width: 30px;
  height: 30px;
}
.icon-icon-tv {
  background-image: url(../img/sprite.png);
  background-position: -52px -146px;
  width: 26px;
  height: 26px;
}
.icon-icon-tv:hover {
  background-image: url(../img/sprite.png);
  background-position: -78px -146px;
  width: 26px;
  height: 26px;
}
.icon-icon-video {
  background-image: url(../img/sprite.png);
  background-position: -104px -146px;
  width: 26px;
  height: 26px;
}
.icon-icon-video:hover {
  background-image: url(../img/sprite.png);
  background-position: -130px -146px;
  width: 26px;
  height: 26px;
}
